.Card {
    
    width: 500px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: #005A5B;

    border-radius: 10px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}


.imagen {
    width: 200px;
    object-fit: cover;
    object-position: center;
}